<ion-view view-title="Home">
  <ion-content>
  <div class="row">
    <div class="col"></div>
    <div class="col col-center"><img style="width: 150%;" src="img/pendu.gif"/></div>
    <div class="col"></div>
  </div>
  <br><br>
  <div class="row">
  <div class="col col-20"></div>
  <div class="col col-60">
<a href="#/tab/play" class="button button-block button-positive">
  Alone
</a>
<br>
<button class="button button-block button-positive" ng-click="showAlert()">
  Remote
</button>
</div>
  <div class="col col-20"></div>
</div>
  </ion-content>
</ion-view>
