<ion-view view-title="Scoring">
  <ion-content>
    <ul class="list">
    <li class="item">
      #1 Majdi Toumi : 42
    </li>
</ul>
    <ul class="list">
    <li class="item">
      #2 Mathieu : 28
    </li>
</ul>
    <ul class="list">
    <li class="item">
      #3 Fabien : 20
    </li>
</ul>
    <ul class="list">
    <li class="item">
      #4 Randy : 18
    </li>
</ul>
    <ul class="list">
    <li class="item">
      #5 Earvin : 18
    </li>
</ul>
    <ul class="list">
    <li class="item">
      #6 Louis : 16
    </li>
</ul>
    <ul class="list">
    <li class="item">
      #7 Raffaele : 15
    </li>
</ul>
  </ion-content>
</ion-view>
